<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Creators of Project-Name{% endblock %}

{% block content %}
<div class="row">
    <div class="col-5 pt-5">
        <img class="img-fluid img-fluid" src="{% static 'img/creator_bg.png' %}" alt="Creator Back ground">
    </div>
    <div class="col-7">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto mt-3">
                    <img src="{% static 'img/creators/Chris.png' %}" class="card-image img-fluid" alt="Creator">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">PM & Back End Developer</h4>
                        <p class="card-text">
                            Chris is a computer science student at Make School following the concentrations Data Science & Back End Web Development.<br>
                            He enjoys working in the STEM fields and had a blast as a <a href="https://www.firstinspires.org/robotics/frc">FRC</a>
                            programmer from 2015-2019 on team <a href="https://frc-events.firstinspires.org/team/2927">2927</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto mt-3">
                    <img src="{% static 'img/creators/name.png' %}" class="card-image img-fluid" alt="Creator">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title"></h4>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto mt-3">
                    <img src="{% static 'img/creators/name.png' %}" class="card-image img-fluid" alt="Creator">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto mt-3">
                    <img src="{% static 'img/creators/name.png' %}" class="card-image img-fluid" alt="Creator">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto mt-3">
                    <img src="{% static 'img/creators/name.png' %}" class="card-image img-fluid" alt="Creator">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row justify-content-center mt-3">
    <p>
        If you have any comments, concerns, or ideas for improvements on this site <a href="{% url 'index' %}">Contact us</a>
    </p>
</div> -->
{% endblock %}