<!-- Footer -->
<footer class='font-small text-black bg-white' id="footer">
    <div class='container-fluid d-flex flex-row align-items-center justify-content-around pb-2'>
        <div class='col-md-3 mb-md-0 pt-5' style="display: flex; justify-content: center;">
            <ul class="socials">
                <!-- <a href='https://twitter.com'><i class="fab fa-twitter"></i></a>
                <a href='https://facebook.com'><i class="fab fa-facebook"></i></a>
                <a href='https://youtube.com'><i class="fab fa-youtube"></i></a>
                <a href='https://instagram.com'><i class="fab fa-instagram"></i></a> -->
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </ul>
        </div>
        
        <div class='col-md-6 mb-md-0 footer-copyright text-center small text-black'>© {% now "Y" %} Copyright: Project-Name. All Rights Reserved.</div>
        
        <div class='col-md-3 mb-md-0 pt-4'>
            <a class="nav-link footer-alink" href="{% url 'creators' %}">Creators</a>
            {% comment %} <a class="nav-link footer-alink" href="{% url 'email' %}">Contact us</a> {% endcomment %}
        </div>
    </div>
</footer>