{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/authentication-styles.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 18vh">
    <div class="d-flex justify-content-center h-75">
        <div class="card">
            <div class="d-flex justify-content-center text-uppercase card-header">
                <h4 class="card-title">Log In</h4>
            </div>
            <div class="card-body">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}


                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="input-group form-group login-group">
                        <label for="username" style="color:black">Username:</label>
                        <input id="username" type="text" class="form-control" placeholder="username">
                    </div>
                    <div class="input-group form-group login-group">
                        <label for="password" style="color:black">Password:</label>
                        <input id="password" type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="form-group d-flex float-right mb-0">
                        <input type="submit" value="Login" class="btn text-uppercase login_btn" style="margin: auto">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="{% url 'signup' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}