{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 16vh;">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="width: 33%">
      <div class="d-flex justify-content-center text-upper card-header">
        <h4 class="card-title">Sign Up</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
              {% for error in field.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
              <div class="form-group d-flex flex-row">
                  <div class="col-8">
                    <label for="id_{{ field.name }}" style="color: black">{{ field.label|title }}:</label>
                    <input style="margin-left: 40px" class="form-control" type="{% if "password" in field.name %}password{% else %}text{% endif %}" name="{{ field.name }}" id="id_{{ field.name }}" required>
                  </div>
              </div>
          {% endfor %}
          <div class="form-group d-flex pt-3">
            <button type="submit" value="Login" class="btn text-uppercase login_btn" style="margin: auto">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
