<!-- NAVBAR -->
{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 4em;"><b>37</b>BOROUGHS</a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav m-auto" id="myNav">
                
                
                <li class="nav-item d-flex justify-content-end ml-5"><a class="nav-link" href="{% url 'boroughs_landing' %}">Boroughs</a></li>

                <li class="nav-item d-flex justify-content-end"><a class="nav-link" href="{% url 'image-upload' %}">Contribute Photo</a></li>



                <li class="nav-item d-flex justify-content-end">
                    {% if user.is_staff %}
                        <a class="nav-link" href="/Admin/"><div class="text-black">Hello, <strong>{{ user }}</strong>!</div></a>
                        <a href="/Admin/logout/" class="btn btn-danger">Log Out</a>
                    {% elif user.is_authenticated %}
                        <a class="nav-link" href="{% url 'profile' user %}"><div class="text-black">Hello, <strong>{{ user }}</strong>!</div></a>
                        {% comment %} <a class="nav-link" href="{% url 'account_logout' %}"" class="btn btn-danger">Log Out</a> {% endcomment %}
                    {% else %}
                        {% comment %} <a class="nav-link" href="{% url 'account_login' %}" class="btn btn-secondary">Log In</a> {% endcomment %}
                        {% comment %} <a class="nav-link" href="{% url 'account_signup' %}" class="btn btn-secondary">Sign Up</a> {% endcomment %}
                    {% endif %}
                </li>
            </ul>
{% comment %}
<!--  -->
{% endcomment %}
            <form class="form-inline my-2 my-lg-0 float-right">
                <div class="input-group">
                <div class="input-group-prepend">
                    <label for="myInput" class="input-group-text" id="basic-addon1">
                        <i class="fas fa-search-location"></i>
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1"
                    onkeyup="filter()" onfocus="show_items()" id="myInput"> <!-- onblur="show_items()" -->
                </div>
                <div id="myDropdown" class="dropdown-content">
                    <div class="menuItems">
                        <a href="{% url 'borough-details' 'chinatownnob-hill' %}">Chinatown / Nob Hill</a>
                        <a href="{% url 'borough-details' 'downtowncivic-center' %}">Downtown / Civic Center</a>
                        <a href="{% url 'borough-details' 'financial-district' %}">Financial District</a>
                        <a href="{% url 'borough-details' 'marina' %}">Marina</a>
                        <a href="{% url 'borough-details' 'pacific-heights' %}">Pacific Heights</a>
                        <a href="{% url 'borough-details' 'mission' %}">Mission</a>
                        <a href="{% url 'borough-details' 'castroupper-market' %}">Castro / Upper Market</a>
                        <a href="{% url 'borough-details' 'presidio' %}">Presidio</a>
                        <a href="{% url 'borough-details' 'sunset' %}">Sunset</a>
                        <a href="{% url 'borough-details' 'twin-peaks' %}">Twin Peaks</a>
                        <a href="{% url 'borough-details' 'treasure-islandyerba-buena-island' %}">Treasure Island / Yerba Buena Island</a>
                        <a href="{% url 'borough-details' 'golden-gate-park' %}">Golden Gate Park</a>
                        <a href="{% url 'borough-details' 'noe-valleybernal-heights' %}">Noe Valley / Bernal Heights</a>
                        <!-- <a href="{% url 'borough-details' 'nob-hill' %}">Nob Hill</a> -->
                        <a href="{% url 'borough-details' 'north-beachrussian-hill' %}">North Beach / Russian Hill</a>
                        <!-- <a href="{% url 'borough-details' 'russian-hill' %}">Russian Hill</a> -->
                        <a href="{% url 'borough-details' 'western-addition' %}">Western Addition</a>
                        <a href="{% url 'borough-details' 'south-of-market' %}">South of Market</a>
                        <a href="{% url 'borough-details' 'potrero-hill' %}">Potrero Hill</a>
                        <a href="{% url 'borough-details' 'haight-ashbury' %}">Haight-Ashbury</a>
                        <!-- <a href="{% url 'borough-details' 'presidio-heights' %}">Presidio Heights</a> -->
                        <a href="{% url 'borough-details' 'seacliff' %}">Seacliff</a>
                        <a href="{% url 'borough-details' 'richmond' %}">Richmond</a>
                        <!-- <a href="{% url 'borough-details' 'inner-richmond' %}">Inner Richmond</a> -->
                        <!-- <a href="{% url 'borough-details' 'outer-sunset' %}">Outer Sunset</a> -->
                        <a href="{% url 'borough-details' 'west-of-twin-peaksoceanview' %}">West of Twin Peaks / Oceanview</a>
                        <a href="{% url 'borough-details' 'glen-parkdiamond-heights' %}">Glen Park / Diamond Heights</a>
                        <!-- <a href="{% url 'borough-details' 'bernal-heights' %}">Bernal Heights</a> -->
                        <a href="{% url 'borough-details' 'bayviewvisitacion-valley' %}">Bayview / Visitacion Valley</a>
                        <a href="{% url 'borough-details' 'excelsior' %}">Excelsior</a>
                        <!-- <a href="{% url 'borough-details' 'visitacion-valley' %}">Visitacion Valley</a> -->
                        <a href="{% url 'borough-details' 'crocker-amazonouter-mission' %}">Crocker-Amazon / Outer Mission</a>
                        <!-- <a href="{% url 'borough-details' 'outer-mission' %}">Outer Mission</a> -->
                        <!-- <a href="{% url 'borough-details' 'oceanview' %}">Oceanview</a> -->
                        <!-- <a href="{% url 'borough-details' 'diamond-heights' %}">Diamond Heights</a> -->
                        <a href="{% url 'borough-details' 'parksidelakeshore' %}">Parkside / Lakeshore</a>
                        <!-- <a href="{% url 'borough-details' 'lakeshore' %}">Lakeshore</a> -->
                    </div>
                <div style="display:none;" class="dropdown-header dropdown_empty">No entry found</div>
            </div>
            </form>
        </div>  <!-- end nav bar colapse -->
    </div>   <!-- end containter -->
</nav>